@using Utility
@model Otlob.Core.ViewModel.ProfileVM

@section Profile {
    <partial name="_ProfilePartial"></partial>
}
@section Notify {
    <partial name="_NotificationPartial"></partial>
}

<div class="profile">
    <div class="info">
        <div class="home">
            <a asp-controller="Home" asp-action="Index">Home </a>
            <span>></span>
            <span>Account</span>
        </div>
        <h2>My Account</h2>
    </div>
    <hr class="line" />
    <div class="links">
        <a href="#" class="active">Account Info</a>
        <a href="#">Saved Addresses</a>
        <a href="#">My Orders</a>
    </div>
    <form asp-action="Profile" enctype="multipart/form-data">        
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="field">
            <label asp-for="Email"></label>
            <input asp-for="Email" value="@Model.Email"/>
            <div>
                <a asp-area="Customer" asp-controller="Account" asp-action="ChangePassword">CHANGE PASSWORD</a>
            </div>
        </div>

        <div class="field">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" value="@Model.FirstName"/>
        </div>

        <div class="field">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" value="@Model.LastName"/>        </div>   

        <div class="field">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" value="@Model.PhoneNumber" />
        </div>   
        
        <div  class="field">
            <label asp-for="BirthDate"></label>
            <input type="date" asp-for="BirthDate" value="@Model.BirthDate.Value.ToString("yyyy-MM-dd")" />
        </div> 

        <div class="field">
            <label asp-for="Gender"></label>
            <select asp-for="Gender">
                <option >@Gender.Male</option>
                <option >@Gender.Female</option>
            </select>
        </div>

        <div class="pic">
            <i class="edit-icon" onclick="triggerFileInput()" title="Edit Profile Picture">&#9998;</i>
            @if(Model.ProfilePicture != null) 
            {
                <img id="profilePicture" alt="Profile" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfilePicture))"/>
            }
            else 
            {
                <img id="profilePicture" alt="Profile" src="~/images/Default.jpg" />
            }
            <input class="hidden-file-input"
                   id="fileInput"
                   type="file"
                   accept="image/*"
                   asp-for="ProfilePicture"
                   onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0]);" />
        </div>

        <button type="submit">Update</button>
    </form>
</div>

<script>
    function triggerFileInput() {
        document.getElementById("fileInput").click();
    }   
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
